<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <style type="text/css">
      body {
        margin: 0 auto;
        padding: 0;
        min-width: 100%;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <p>Hey, your AWS firewall rules have been updated.</p>
    <p>If this was not you, please contact your administrator immediately.</p>
    <p>Best,<br/>Your LysRef Team</p>
  </body>
</html>