VITE_API_URL='http://localhost:8016'
VITE_SUPPLIER_API_URL='http://localhost:8017'
VITE_DEBOUNCE_MS=400 # milliseconds to delay input before triggering data refresh
VITE_FADE_MS=2000 # milliseconds to show confirmation messages before fading out
VITE_FAKE_API_DELAY_MS=500 # milliseconds to simulate API delay
VITE_MAX_DEBOUNCE_MS=5000